*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family:serif;
  font-size: 75%;
}

.container {
  text-align: center;
}

.preview-baku {
  background-image: url("../images/baku.jpg");
}

.preview-london {
  background-image: url("../images/london.png");
}

.preview-madrid {
  background-image: url("../images/madrid.jpg")
}

.preview-rome {
  background-image: url("../images/rome.jpg")
}

div{
 text-align: left;
 padding: 15px;
 width: 100%;
 margin: 20px 0px 20px 0px;
 height: 300px;
 background-size: cover;
 background-position: left;
}

h1 {
  font-size: 2em;
  padding: 1%;
  font-weight:400;
}

h2 {
  font-size: 1.4em;
  text-transform: uppercase;
  padding: 10px 0px;
  margin-top: 20px;
}

@media screen and (min-width: 575px){
  div {
  display: inline-block;
  margin: 1%;
  width: 40%;
  height: 220px;
  }
  h2{
  margin-bottom: 10px;
  }
}

@media screen and (min-width: 991px){
  div {
  display: inline-block;
  margin: 0.5%;
  width: 15%;
  height: 180px
  }
  h2{
  margin-bottom: 12px;
  }
}
